CONFIG_TARGET_x86=y
CONFIG_TARGET_x86_64=y
CONFIG_TARGET_x86_64_DEVICE_generic=y
CONFIG_ALL_KMODS=y
CONFIG_ARIA2_BITTORRENT=y
CONFIG_ARIA2_NOXML=y
CONFIG_ARIA2_OPENSSL=y
CONFIG_ARIA2_WEBSOCKET=y
CONFIG_CGROUPFS_MOUNT_KERNEL_CGROUPS=y
CONFIG_CONTAINERD_SECCOMP=y
CONFIG_DOCKER_KERNEL_OPTIONS=y
CONFIG_DOCKER_NET_ENCRYPT=y
CONFIG_DOCKER_NET_MACVLAN=y
CONFIG_DOCKER_NET_OVERLAY=y
CONFIG_DOCKER_NET_TFTP=y
CONFIG_DOCKER_RES_SHAPE=y
CONFIG_DOCKER_SECCOMP=y
CONFIG_DOCKER_STO_BTRFS=y
CONFIG_DOCKER_STO_EXT4=y
CONFIG_GNUTLS_ALPN=y
CONFIG_GNUTLS_ANON=y
CONFIG_GNUTLS_DTLS_SRTP=y
CONFIG_GNUTLS_HEARTBEAT=y
CONFIG_GNUTLS_OCSP=y
CONFIG_GNUTLS_PSK=y
CONFIG_IMAGEOPT=y
CONFIG_KERNEL_BLK_DEV_THROTTLING=y
CONFIG_KERNEL_BTRFS_FS_POSIX_ACL=y
CONFIG_KERNEL_CFQ_GROUP_IOSCHED=y
CONFIG_KERNEL_CFS_BANDWIDTH=y
CONFIG_KERNEL_CGROUP_PERF=y
CONFIG_KERNEL_EXT4_FS_POSIX_ACL=y
CONFIG_KERNEL_FS_POSIX_ACL=y
CONFIG_KERNEL_KEYS=y
CONFIG_KERNEL_MEMCG_SWAP=y
CONFIG_KERNEL_MEMCG_SWAP_ENABLED=y
CONFIG_KERNEL_PERF_EVENTS=y
CONFIG_LUCI_LANG_ca=y
CONFIG_LUCI_LANG_cs=y
CONFIG_LUCI_LANG_de=y
CONFIG_LUCI_LANG_el=y
CONFIG_LUCI_LANG_es=y
CONFIG_LUCI_LANG_fr=y
CONFIG_LUCI_LANG_he=y
CONFIG_LUCI_LANG_hu=y
CONFIG_LUCI_LANG_it=y
CONFIG_LUCI_LANG_ja=y
CONFIG_LUCI_LANG_ko=y
CONFIG_LUCI_LANG_ms=y
CONFIG_LUCI_LANG_no=y
CONFIG_LUCI_LANG_pl=y
CONFIG_LUCI_LANG_pt=y
CONFIG_LUCI_LANG_pt-br=y
CONFIG_LUCI_LANG_ro=y
CONFIG_LUCI_LANG_ru=y
CONFIG_LUCI_LANG_sk=y
CONFIG_LUCI_LANG_sv=y
CONFIG_LUCI_LANG_tr=y
CONFIG_LUCI_LANG_uk=y
CONFIG_LUCI_LANG_vi=y
CONFIG_LUCI_LANG_zh-tw=y
CONFIG_LXC_SECCOMP=y
CONFIG_NFS_KERNEL_SERVER_V4=y
CONFIG_OPENCONNECT_GNUTLS=y
CONFIG_TARGET_IMAGES_GZIP=y
CONFIG_TARGET_KERNEL_PARTSIZE=64
CONFIG_TARGET_ROOTFS_PARTSIZE=960
CONFIG_TARGET_ROOTFS_TARGZ=y
