CONFIG_TARGET_x86=y
CONFIG_TARGET_x86_64=y
CONFIG_TARGET_x86_64_DEVICE_generic=y
CONFIG_ALL_KMODS=y
CONFIG_ARIA2_BITTORRENT=y
CONFIG_ARIA2_NOXML=y
CONFIG_ARIA2_OPENSSL=y
CONFIG_ARIA2_WEBSOCKET=y
CONFIG_CGROUPFS_MOUNT_KERNEL_CGROUPS=y
CONFIG_CONTAINERD_SECCOMP=y
CONFIG_DOCKER_KERNEL_OPTIONS=y
CONFIG_DOCKER_NET_ENCRYPT=y
CONFIG_DOCKER_NET_MACVLAN=y
CONFIG_DOCKER_NET_OVERLAY=y
CONFIG_DOCKER_NET_TFTP=y
CONFIG_DOCKER_RES_SHAPE=y
CONFIG_DOCKER_SECCOMP=y
CONFIG_DOCKER_STO_BTRFS=y
CONFIG_DOCKER_STO_EXT4=y
CONFIG_GNUTLS_ALPN=y
CONFIG_GNUTLS_ANON=y
CONFIG_GNUTLS_DTLS_SRTP=y
CONFIG_GNUTLS_HEARTBEAT=y
CONFIG_GNUTLS_OCSP=y
CONFIG_GNUTLS_PSK=y
CONFIG_IMAGEOPT=y
CONFIG_KERNEL_BLK_DEV_THROTTLING=y
CONFIG_KERNEL_BTRFS_FS_POSIX_ACL=y
CONFIG_KERNEL_CFQ_GROUP_IOSCHED=y
CONFIG_KERNEL_CFS_BANDWIDTH=y
CONFIG_KERNEL_CGROUP_PERF=y
CONFIG_KERNEL_EXT4_FS_POSIX_ACL=y
CONFIG_KERNEL_FS_POSIX_ACL=y
CONFIG_KERNEL_KEYS=y
CONFIG_KERNEL_MEMCG_SWAP=y
CONFIG_KERNEL_MEMCG_SWAP_ENABLED=y
CONFIG_KERNEL_PERF_EVENTS=y
CONFIG_LIBTINS_ENABLE_CXX11=y
CONFIG_LIBTINS_ENABLE_PCAP=y
CONFIG_LUCI_LANG_ca=y
CONFIG_LUCI_LANG_cs=y
CONFIG_LUCI_LANG_de=y
CONFIG_LUCI_LANG_el=y
CONFIG_LUCI_LANG_es=y
CONFIG_LUCI_LANG_fr=y
CONFIG_LUCI_LANG_he=y
CONFIG_LUCI_LANG_hu=y
CONFIG_LUCI_LANG_it=y
CONFIG_LUCI_LANG_ja=y
CONFIG_LUCI_LANG_ko=y
CONFIG_LUCI_LANG_ms=y
CONFIG_LUCI_LANG_no=y
CONFIG_LUCI_LANG_pl=y
CONFIG_LUCI_LANG_pt=y
CONFIG_LUCI_LANG_pt-br=y
CONFIG_LUCI_LANG_ro=y
CONFIG_LUCI_LANG_ru=y
CONFIG_LUCI_LANG_sk=y
CONFIG_LUCI_LANG_sv=y
CONFIG_LUCI_LANG_tr=y
CONFIG_LUCI_LANG_uk=y
CONFIG_LUCI_LANG_vi=y
CONFIG_LUCI_LANG_zh-tw=y
CONFIG_LXC_SECCOMP=y
CONFIG_NFS_KERNEL_SERVER_V4=y
CONFIG_PACKAGE_alsa-lib=y
CONFIG_PACKAGE_alsa-utils=y
CONFIG_PACKAGE_amule=y
CONFIG_PACKAGE_appfilter=y
CONFIG_PACKAGE_aria2=y
CONFIG_PACKAGE_ariang=y
CONFIG_PACKAGE_attendedsysupgrade-common=y
CONFIG_PACKAGE_avahi-dbus-daemon=y
CONFIG_PACKAGE_baidupcs-web=y
CONFIG_PACKAGE_bash=y
CONFIG_PACKAGE_bird1-ipv4=y
CONFIG_PACKAGE_bird1-ipv4-uci=y
CONFIG_PACKAGE_bird1-ipv6=y
CONFIG_PACKAGE_bird1-ipv6-uci=y
CONFIG_PACKAGE_blkid=y
CONFIG_PACKAGE_bmx6=y
CONFIG_PACKAGE_boost=y
CONFIG_PACKAGE_boost-chrono=y
CONFIG_PACKAGE_boost-random=y
CONFIG_PACKAGE_boost-system=y
CONFIG_PACKAGE_btrfs-progs=y
CONFIG_PACKAGE_bzip2=y
CONFIG_PACKAGE_cgi-io=y
CONFIG_PACKAGE_cgroupfs-mount=y
CONFIG_PACKAGE_chinadns-ng=y
CONFIG_PACKAGE_collectd=y
CONFIG_PACKAGE_collectd-mod-cpu=y
CONFIG_PACKAGE_collectd-mod-interface=y
CONFIG_PACKAGE_collectd-mod-iwinfo=y
CONFIG_PACKAGE_collectd-mod-load=y
CONFIG_PACKAGE_collectd-mod-memory=y
CONFIG_PACKAGE_collectd-mod-network=y
CONFIG_PACKAGE_collectd-mod-rrdtool=y
CONFIG_PACKAGE_confuse=y
CONFIG_PACKAGE_containerd=y
CONFIG_PACKAGE_coreutils-nohup=y
CONFIG_PACKAGE_dbus=y
CONFIG_PACKAGE_dnscrypt-proxy=y
CONFIG_PACKAGE_dnscrypt-proxy-resolvers=y
CONFIG_PACKAGE_docker-ce=y
CONFIG_PACKAGE_fdk-aac=y
CONFIG_PACKAGE_flock=y
CONFIG_PACKAGE_forked-daapd=y
CONFIG_PACKAGE_frpc=y
CONFIG_PACKAGE_fwknopd=y
CONFIG_PACKAGE_getopt=y
CONFIG_PACKAGE_gowebdav=y
CONFIG_PACKAGE_hd-idle=y
CONFIG_PACKAGE_https-dns-proxy=y
CONFIG_PACKAGE_icu=y
CONFIG_PACKAGE_ipt2socks=y
CONFIG_PACKAGE_iptables-mod-extra=y
CONFIG_PACKAGE_kcptun-client=y
CONFIG_PACKAGE_kmod-ac97=y
CONFIG_PACKAGE_kmod-br-netfilter=y
CONFIG_PACKAGE_kmod-crypto-ctr=y
CONFIG_PACKAGE_kmod-crypto-cts=y
CONFIG_PACKAGE_kmod-crypto-gcm=y
CONFIG_PACKAGE_kmod-crypto-gf128=y
CONFIG_PACKAGE_kmod-crypto-ghash=y
CONFIG_PACKAGE_kmod-crypto-rng=y
CONFIG_PACKAGE_kmod-crypto-seqiv=y
CONFIG_PACKAGE_kmod-crypto-sha256=y
CONFIG_PACKAGE_kmod-dax=y
CONFIG_PACKAGE_kmod-dm=y
CONFIG_PACKAGE_kmod-dnsresolver=y
CONFIG_PACKAGE_kmod-dummy=y
CONFIG_PACKAGE_kmod-fs-btrfs=y
CONFIG_PACKAGE_kmod-fs-exportfs=y
CONFIG_PACKAGE_kmod-fs-nfs=y
CONFIG_PACKAGE_kmod-fs-nfs-common=y
CONFIG_PACKAGE_kmod-fs-nfs-common-rpcsec=y
CONFIG_PACKAGE_kmod-fs-nfs-v4=y
CONFIG_PACKAGE_kmod-fs-nfsd=y
CONFIG_PACKAGE_kmod-ikconfig=y
CONFIG_PACKAGE_kmod-ip6-tunnel=y
CONFIG_PACKAGE_kmod-ipt-extra=y
CONFIG_PACKAGE_kmod-lib-crc32c=y
CONFIG_PACKAGE_kmod-lib-lzo=y
CONFIG_PACKAGE_kmod-lib-raid6=y
CONFIG_PACKAGE_kmod-lib-xor=y
CONFIG_PACKAGE_kmod-lib-zstd=y
CONFIG_PACKAGE_kmod-nf-ipvs=y
CONFIG_PACKAGE_kmod-oaf=y
CONFIG_PACKAGE_kmod-regmap-core=y
CONFIG_PACKAGE_kmod-sound-core=y
CONFIG_PACKAGE_kmod-sound-hda-codec-hdmi=y
CONFIG_PACKAGE_kmod-sound-hda-codec-realtek=y
CONFIG_PACKAGE_kmod-sound-hda-codec-via=y
CONFIG_PACKAGE_kmod-sound-hda-core=y
CONFIG_PACKAGE_kmod-sound-hda-intel=y
CONFIG_PACKAGE_kmod-sound-i8x0=y
CONFIG_PACKAGE_kmod-sound-mpu401=y
CONFIG_PACKAGE_kmod-sound-via82xx=y
CONFIG_PACKAGE_kmod-udptunnel4=y
CONFIG_PACKAGE_kmod-usb-audio=y
CONFIG_PACKAGE_kmod-usb-printer=y
CONFIG_PACKAGE_kmod-veth=y
CONFIG_PACKAGE_lame-lib=y
CONFIG_PACKAGE_libantlr3c=y
CONFIG_PACKAGE_libattr=y
CONFIG_PACKAGE_libavahi-client=y
CONFIG_PACKAGE_libavahi-dbus-support=y
CONFIG_PACKAGE_libbfd=y
CONFIG_PACKAGE_libbz2=y
CONFIG_PACKAGE_libcap=y
CONFIG_PACKAGE_libcap-bin=y
CONFIG_PACKAGE_libcap-bin-capsh-shell="/bin/sh"
CONFIG_PACKAGE_libconfig=y
CONFIG_PACKAGE_libcryptopp=y
CONFIG_PACKAGE_libdaemon=y
CONFIG_PACKAGE_libdb47=y
CONFIG_PACKAGE_libdbus=y
CONFIG_PACKAGE_libdevmapper=y
CONFIG_PACKAGE_libdouble-conversion=y
CONFIG_PACKAGE_libedit=y
CONFIG_PACKAGE_libevent2=y
CONFIG_PACKAGE_libexif=y
CONFIG_PACKAGE_libexpat=y
CONFIG_PACKAGE_libffi=y
CONFIG_PACKAGE_libffmpeg-full=y
CONFIG_PACKAGE_libfko=y
CONFIG_PACKAGE_libflac=y
CONFIG_PACKAGE_libgcrypt=y
CONFIG_PACKAGE_libgd=y
CONFIG_PACKAGE_libgdbm=y
CONFIG_PACKAGE_libgnutls=y
CONFIG_PACKAGE_libgpg-error=y
CONFIG_PACKAGE_libid3tag=y
CONFIG_PACKAGE_libjpeg-turbo=y
CONFIG_PACKAGE_libkeyutils=y
CONFIG_PACKAGE_libltdl=y
CONFIG_PACKAGE_liblxc=y
CONFIG_PACKAGE_liblzma=y
CONFIG_PACKAGE_liblzo=y
CONFIG_PACKAGE_libmaxminddb=y
CONFIG_PACKAGE_libmount=y
CONFIG_PACKAGE_libnetfilter-conntrack=y
CONFIG_PACKAGE_libnettle=y
CONFIG_PACKAGE_libnetwork=y
CONFIG_PACKAGE_libnfnetlink=y
CONFIG_PACKAGE_libogg=y
CONFIG_PACKAGE_libopus=y
CONFIG_PACKAGE_libpagekite=y
CONFIG_PACKAGE_libpcap=y
CONFIG_PACKAGE_libpcre2-16=y
CONFIG_PACKAGE_libplist=y
CONFIG_PACKAGE_libpng=y
CONFIG_PACKAGE_libpopt=y
CONFIG_PACKAGE_libprotobuf-c=y
CONFIG_PACKAGE_libqrencode=y
CONFIG_PACKAGE_librrd1=y
CONFIG_PACKAGE_libruby=y
CONFIG_PACKAGE_libseccomp=y
CONFIG_PACKAGE_libsoxr=y
CONFIG_PACKAGE_libsqlite3=y
CONFIG_PACKAGE_libtins=y
CONFIG_PACKAGE_libtirpc=y
CONFIG_PACKAGE_libunistring=y
CONFIG_PACKAGE_libupnp=y
CONFIG_PACKAGE_libvorbis=y
CONFIG_PACKAGE_libwebp=y
CONFIG_PACKAGE_libwebsockets-full=y
CONFIG_PACKAGE_libwrap=y
CONFIG_PACKAGE_libwxbase=y
CONFIG_PACKAGE_libxml2=y
CONFIG_PACKAGE_libyaml=y
CONFIG_PACKAGE_libyaml-cpp=y
CONFIG_PACKAGE_libzstd=y
CONFIG_PACKAGE_lsblk=y
CONFIG_PACKAGE_lua-maxminddb=y
CONFIG_PACKAGE_luasocket=y
CONFIG_PACKAGE_luci-app-adguardhome=y
CONFIG_PACKAGE_luci-app-airplay2=y
CONFIG_PACKAGE_luci-app-amule=y
CONFIG_PACKAGE_luci-app-argon-config=y
CONFIG_PACKAGE_luci-app-aria2=y
CONFIG_PACKAGE_luci-app-asterisk=y
CONFIG_PACKAGE_luci-app-attendedsysupgrade=y
CONFIG_PACKAGE_luci-app-baidupcs-web=y
CONFIG_PACKAGE_luci-app-bird1-ipv4=y
CONFIG_PACKAGE_luci-app-bird1-ipv6=y
CONFIG_PACKAGE_luci-app-bmx6=y
CONFIG_PACKAGE_luci-app-commands=y
CONFIG_PACKAGE_luci-app-control-timewol=y
CONFIG_PACKAGE_luci-app-control-webrestriction=y
CONFIG_PACKAGE_luci-app-diag-core=y
CONFIG_PACKAGE_luci-app-diskman=y
CONFIG_PACKAGE_luci-app-diskman_INCLUDE_lsblk=y
CONFIG_PACKAGE_luci-app-dnscrypt-proxy=y
CONFIG_PACKAGE_luci-app-dockerman=y
CONFIG_PACKAGE_luci-app-familycloud=y
CONFIG_PACKAGE_luci-app-frpc=y
CONFIG_PACKAGE_luci-app-fwknopd=y
CONFIG_PACKAGE_luci-app-gowebdav=y
CONFIG_PACKAGE_luci-app-hd-idle=y
CONFIG_PACKAGE_luci-app-hnet=y
CONFIG_PACKAGE_luci-app-https-dns-proxy=y
CONFIG_PACKAGE_luci-app-lxc=y
CONFIG_PACKAGE_luci-app-minidlna=y
CONFIG_PACKAGE_luci-app-mjpg-streamer=y
CONFIG_PACKAGE_luci-app-music-remote-center=y
CONFIG_PACKAGE_luci-app-netdata=y
CONFIG_PACKAGE_luci-app-nfs=y
CONFIG_PACKAGE_luci-app-nginx-pingos=y
CONFIG_PACKAGE_luci-app-noddos=y
CONFIG_PACKAGE_luci-app-nps=y
CONFIG_PACKAGE_luci-app-oaf=y
CONFIG_PACKAGE_luci-app-onliner=y
CONFIG_PACKAGE_luci-app-openclash=y
CONFIG_PACKAGE_luci-app-pagekitec=y
CONFIG_PACKAGE_luci-app-passwall=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_ChinaDNS_NG=y
# CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Haproxy is not set
# CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Shadowsocks is not set
# CONFIG_PACKAGE_luci-app-passwall_INCLUDE_ShadowsocksR is not set
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Shadowsocks_Rust=y
# CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Shadowsocks_Server is not set
# CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Simple-obfs is not set
# CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Trojan_Plus is not set
# CONFIG_PACKAGE_luci-app-passwall_INCLUDE_V2ray-plugin is not set
CONFIG_PACKAGE_luci-app-qbittorrent=y
CONFIG_PACKAGE_luci-app-statistics=y
CONFIG_PACKAGE_luci-app-timecontrol=y
CONFIG_PACKAGE_luci-app-transmission=y
CONFIG_PACKAGE_luci-app-travelmate=y
CONFIG_PACKAGE_luci-app-ttyd=y
CONFIG_PACKAGE_luci-app-uhttpd=y
CONFIG_PACKAGE_luci-app-usb-printer=y
CONFIG_PACKAGE_luci-app-vnstat=y
# CONFIG_PACKAGE_luci-app-vsftpd is not set
CONFIG_PACKAGE_luci-app-vssr=y
CONFIG_PACKAGE_luci-app-vssr_INCLUDE_Kcptun=y
# CONFIG_PACKAGE_luci-app-vssr_INCLUDE_Trojan is not set
CONFIG_PACKAGE_luci-app-watchcat=y
CONFIG_PACKAGE_luci-i18n-airplay2-zh-cn=y
CONFIG_PACKAGE_luci-i18n-amule-zh-cn=y
CONFIG_PACKAGE_luci-i18n-aria2-pt-br=y
CONFIG_PACKAGE_luci-i18n-aria2-ru=y
CONFIG_PACKAGE_luci-i18n-aria2-sv=y
CONFIG_PACKAGE_luci-i18n-aria2-zh-cn=y
CONFIG_PACKAGE_luci-i18n-aria2-zh-tw=y
CONFIG_PACKAGE_luci-i18n-asterisk-ca=y
CONFIG_PACKAGE_luci-i18n-asterisk-cs=y
CONFIG_PACKAGE_luci-i18n-asterisk-de=y
CONFIG_PACKAGE_luci-i18n-asterisk-el=y
CONFIG_PACKAGE_luci-i18n-asterisk-es=y
CONFIG_PACKAGE_luci-i18n-asterisk-fr=y
CONFIG_PACKAGE_luci-i18n-asterisk-he=y
CONFIG_PACKAGE_luci-i18n-asterisk-hu=y
CONFIG_PACKAGE_luci-i18n-asterisk-it=y
CONFIG_PACKAGE_luci-i18n-asterisk-ja=y
CONFIG_PACKAGE_luci-i18n-asterisk-ms=y
CONFIG_PACKAGE_luci-i18n-asterisk-no=y
CONFIG_PACKAGE_luci-i18n-asterisk-pl=y
CONFIG_PACKAGE_luci-i18n-asterisk-pt=y
CONFIG_PACKAGE_luci-i18n-asterisk-pt-br=y
CONFIG_PACKAGE_luci-i18n-asterisk-ro=y
CONFIG_PACKAGE_luci-i18n-asterisk-ru=y
CONFIG_PACKAGE_luci-i18n-asterisk-sk=y
CONFIG_PACKAGE_luci-i18n-asterisk-sv=y
CONFIG_PACKAGE_luci-i18n-asterisk-tr=y
CONFIG_PACKAGE_luci-i18n-asterisk-uk=y
CONFIG_PACKAGE_luci-i18n-asterisk-vi=y
CONFIG_PACKAGE_luci-i18n-asterisk-zh-cn=y
CONFIG_PACKAGE_luci-i18n-asterisk-zh-tw=y
CONFIG_PACKAGE_luci-i18n-base-ca=y
CONFIG_PACKAGE_luci-i18n-base-cs=y
CONFIG_PACKAGE_luci-i18n-base-de=y
CONFIG_PACKAGE_luci-i18n-base-el=y
CONFIG_PACKAGE_luci-i18n-base-es=y
CONFIG_PACKAGE_luci-i18n-base-fr=y
CONFIG_PACKAGE_luci-i18n-base-he=y
CONFIG_PACKAGE_luci-i18n-base-hu=y
CONFIG_PACKAGE_luci-i18n-base-it=y
CONFIG_PACKAGE_luci-i18n-base-ja=y
CONFIG_PACKAGE_luci-i18n-base-ko=y
CONFIG_PACKAGE_luci-i18n-base-ms=y
CONFIG_PACKAGE_luci-i18n-base-no=y
CONFIG_PACKAGE_luci-i18n-base-pl=y
CONFIG_PACKAGE_luci-i18n-base-pt=y
CONFIG_PACKAGE_luci-i18n-base-pt-br=y
CONFIG_PACKAGE_luci-i18n-base-ro=y
CONFIG_PACKAGE_luci-i18n-base-ru=y
CONFIG_PACKAGE_luci-i18n-base-sk=y
CONFIG_PACKAGE_luci-i18n-base-sv=y
CONFIG_PACKAGE_luci-i18n-base-tr=y
CONFIG_PACKAGE_luci-i18n-base-uk=y
CONFIG_PACKAGE_luci-i18n-base-vi=y
CONFIG_PACKAGE_luci-i18n-base-zh-tw=y
CONFIG_PACKAGE_luci-i18n-bonding-de=y
CONFIG_PACKAGE_luci-i18n-commands-ca=y
CONFIG_PACKAGE_luci-i18n-commands-cs=y
CONFIG_PACKAGE_luci-i18n-commands-de=y
CONFIG_PACKAGE_luci-i18n-commands-el=y
CONFIG_PACKAGE_luci-i18n-commands-es=y
CONFIG_PACKAGE_luci-i18n-commands-fr=y
CONFIG_PACKAGE_luci-i18n-commands-he=y
CONFIG_PACKAGE_luci-i18n-commands-hu=y
CONFIG_PACKAGE_luci-i18n-commands-it=y
CONFIG_PACKAGE_luci-i18n-commands-ja=y
CONFIG_PACKAGE_luci-i18n-commands-ms=y
CONFIG_PACKAGE_luci-i18n-commands-no=y
CONFIG_PACKAGE_luci-i18n-commands-pl=y
CONFIG_PACKAGE_luci-i18n-commands-pt=y
CONFIG_PACKAGE_luci-i18n-commands-pt-br=y
CONFIG_PACKAGE_luci-i18n-commands-ro=y
CONFIG_PACKAGE_luci-i18n-commands-ru=y
CONFIG_PACKAGE_luci-i18n-commands-sk=y
CONFIG_PACKAGE_luci-i18n-commands-sv=y
CONFIG_PACKAGE_luci-i18n-commands-tr=y
CONFIG_PACKAGE_luci-i18n-commands-uk=y
CONFIG_PACKAGE_luci-i18n-commands-vi=y
CONFIG_PACKAGE_luci-i18n-commands-zh-cn=y
CONFIG_PACKAGE_luci-i18n-commands-zh-tw=y
CONFIG_PACKAGE_luci-i18n-control-timewol-zh-cn=y
CONFIG_PACKAGE_luci-i18n-control-webrestriction-zh-cn=y
CONFIG_PACKAGE_luci-i18n-ddns-ca=y
CONFIG_PACKAGE_luci-i18n-ddns-cs=y
CONFIG_PACKAGE_luci-i18n-ddns-de=y
CONFIG_PACKAGE_luci-i18n-ddns-el=y
CONFIG_PACKAGE_luci-i18n-ddns-es=y
CONFIG_PACKAGE_luci-i18n-ddns-fr=y
CONFIG_PACKAGE_luci-i18n-ddns-he=y
CONFIG_PACKAGE_luci-i18n-ddns-hu=y
CONFIG_PACKAGE_luci-i18n-ddns-it=y
CONFIG_PACKAGE_luci-i18n-ddns-ja=y
CONFIG_PACKAGE_luci-i18n-ddns-ko=y
CONFIG_PACKAGE_luci-i18n-ddns-ms=y
CONFIG_PACKAGE_luci-i18n-ddns-no=y
CONFIG_PACKAGE_luci-i18n-ddns-pl=y
CONFIG_PACKAGE_luci-i18n-ddns-pt=y
CONFIG_PACKAGE_luci-i18n-ddns-pt-br=y
CONFIG_PACKAGE_luci-i18n-ddns-ro=y
CONFIG_PACKAGE_luci-i18n-ddns-ru=y
CONFIG_PACKAGE_luci-i18n-ddns-sk=y
CONFIG_PACKAGE_luci-i18n-ddns-sv=y
CONFIG_PACKAGE_luci-i18n-ddns-tr=y
CONFIG_PACKAGE_luci-i18n-ddns-uk=y
CONFIG_PACKAGE_luci-i18n-ddns-vi=y
CONFIG_PACKAGE_luci-i18n-ddns-zh-tw=y
CONFIG_PACKAGE_luci-i18n-diag-core-ca=y
CONFIG_PACKAGE_luci-i18n-diag-core-cs=y
CONFIG_PACKAGE_luci-i18n-diag-core-de=y
CONFIG_PACKAGE_luci-i18n-diag-core-el=y
CONFIG_PACKAGE_luci-i18n-diag-core-es=y
CONFIG_PACKAGE_luci-i18n-diag-core-fr=y
CONFIG_PACKAGE_luci-i18n-diag-core-he=y
CONFIG_PACKAGE_luci-i18n-diag-core-hu=y
CONFIG_PACKAGE_luci-i18n-diag-core-it=y
CONFIG_PACKAGE_luci-i18n-diag-core-ja=y
CONFIG_PACKAGE_luci-i18n-diag-core-ms=y
CONFIG_PACKAGE_luci-i18n-diag-core-no=y
CONFIG_PACKAGE_luci-i18n-diag-core-pl=y
CONFIG_PACKAGE_luci-i18n-diag-core-pt=y
CONFIG_PACKAGE_luci-i18n-diag-core-pt-br=y
CONFIG_PACKAGE_luci-i18n-diag-core-ro=y
CONFIG_PACKAGE_luci-i18n-diag-core-ru=y
CONFIG_PACKAGE_luci-i18n-diag-core-sk=y
CONFIG_PACKAGE_luci-i18n-diag-core-sv=y
CONFIG_PACKAGE_luci-i18n-diag-core-tr=y
CONFIG_PACKAGE_luci-i18n-diag-core-uk=y
CONFIG_PACKAGE_luci-i18n-diag-core-vi=y
CONFIG_PACKAGE_luci-i18n-diag-core-zh-cn=y
CONFIG_PACKAGE_luci-i18n-diag-core-zh-tw=y
CONFIG_PACKAGE_luci-i18n-dnscrypt-proxy-ja=y
CONFIG_PACKAGE_luci-i18n-dnscrypt-proxy-ru=y
CONFIG_PACKAGE_luci-i18n-dockerman-zh-cn=y
CONFIG_PACKAGE_luci-i18n-firewall-ca=y
CONFIG_PACKAGE_luci-i18n-firewall-cs=y
CONFIG_PACKAGE_luci-i18n-firewall-de=y
CONFIG_PACKAGE_luci-i18n-firewall-el=y
CONFIG_PACKAGE_luci-i18n-firewall-es=y
CONFIG_PACKAGE_luci-i18n-firewall-fr=y
CONFIG_PACKAGE_luci-i18n-firewall-he=y
CONFIG_PACKAGE_luci-i18n-firewall-hu=y
CONFIG_PACKAGE_luci-i18n-firewall-it=y
CONFIG_PACKAGE_luci-i18n-firewall-ja=y
CONFIG_PACKAGE_luci-i18n-firewall-ko=y
CONFIG_PACKAGE_luci-i18n-firewall-ms=y
CONFIG_PACKAGE_luci-i18n-firewall-no=y
CONFIG_PACKAGE_luci-i18n-firewall-pl=y
CONFIG_PACKAGE_luci-i18n-firewall-pt=y
CONFIG_PACKAGE_luci-i18n-firewall-pt-br=y
CONFIG_PACKAGE_luci-i18n-firewall-ro=y
CONFIG_PACKAGE_luci-i18n-firewall-ru=y
CONFIG_PACKAGE_luci-i18n-firewall-sk=y
CONFIG_PACKAGE_luci-i18n-firewall-sv=y
CONFIG_PACKAGE_luci-i18n-firewall-tr=y
CONFIG_PACKAGE_luci-i18n-firewall-uk=y
CONFIG_PACKAGE_luci-i18n-firewall-vi=y
CONFIG_PACKAGE_luci-i18n-firewall-zh-tw=y
CONFIG_PACKAGE_luci-i18n-frpc-zh-cn=y
CONFIG_PACKAGE_luci-i18n-fwknopd-pt-br=y
CONFIG_PACKAGE_luci-i18n-fwknopd-ru=y
CONFIG_PACKAGE_luci-i18n-gowebdav-zh-cn=y
CONFIG_PACKAGE_luci-i18n-hd-idle-ca=y
CONFIG_PACKAGE_luci-i18n-hd-idle-cs=y
CONFIG_PACKAGE_luci-i18n-hd-idle-de=y
CONFIG_PACKAGE_luci-i18n-hd-idle-el=y
CONFIG_PACKAGE_luci-i18n-hd-idle-es=y
CONFIG_PACKAGE_luci-i18n-hd-idle-fr=y
CONFIG_PACKAGE_luci-i18n-hd-idle-he=y
CONFIG_PACKAGE_luci-i18n-hd-idle-hu=y
CONFIG_PACKAGE_luci-i18n-hd-idle-it=y
CONFIG_PACKAGE_luci-i18n-hd-idle-ja=y
CONFIG_PACKAGE_luci-i18n-hd-idle-ms=y
CONFIG_PACKAGE_luci-i18n-hd-idle-no=y
CONFIG_PACKAGE_luci-i18n-hd-idle-pl=y
CONFIG_PACKAGE_luci-i18n-hd-idle-pt=y
CONFIG_PACKAGE_luci-i18n-hd-idle-pt-br=y
CONFIG_PACKAGE_luci-i18n-hd-idle-ro=y
CONFIG_PACKAGE_luci-i18n-hd-idle-ru=y
CONFIG_PACKAGE_luci-i18n-hd-idle-sk=y
CONFIG_PACKAGE_luci-i18n-hd-idle-sv=y
CONFIG_PACKAGE_luci-i18n-hd-idle-tr=y
CONFIG_PACKAGE_luci-i18n-hd-idle-uk=y
CONFIG_PACKAGE_luci-i18n-hd-idle-vi=y
CONFIG_PACKAGE_luci-i18n-hd-idle-zh-cn=y
CONFIG_PACKAGE_luci-i18n-hd-idle-zh-tw=y
CONFIG_PACKAGE_luci-i18n-minidlna-ca=y
CONFIG_PACKAGE_luci-i18n-minidlna-cs=y
CONFIG_PACKAGE_luci-i18n-minidlna-de=y
CONFIG_PACKAGE_luci-i18n-minidlna-el=y
CONFIG_PACKAGE_luci-i18n-minidlna-es=y
CONFIG_PACKAGE_luci-i18n-minidlna-fr=y
CONFIG_PACKAGE_luci-i18n-minidlna-he=y
CONFIG_PACKAGE_luci-i18n-minidlna-hu=y
CONFIG_PACKAGE_luci-i18n-minidlna-it=y
CONFIG_PACKAGE_luci-i18n-minidlna-ja=y
CONFIG_PACKAGE_luci-i18n-minidlna-ms=y
CONFIG_PACKAGE_luci-i18n-minidlna-no=y
CONFIG_PACKAGE_luci-i18n-minidlna-pl=y
CONFIG_PACKAGE_luci-i18n-minidlna-pt=y
CONFIG_PACKAGE_luci-i18n-minidlna-pt-br=y
CONFIG_PACKAGE_luci-i18n-minidlna-ro=y
CONFIG_PACKAGE_luci-i18n-minidlna-ru=y
CONFIG_PACKAGE_luci-i18n-minidlna-sk=y
CONFIG_PACKAGE_luci-i18n-minidlna-sv=y
CONFIG_PACKAGE_luci-i18n-minidlna-tr=y
CONFIG_PACKAGE_luci-i18n-minidlna-uk=y
CONFIG_PACKAGE_luci-i18n-minidlna-vi=y
CONFIG_PACKAGE_luci-i18n-minidlna-zh-cn=y
CONFIG_PACKAGE_luci-i18n-minidlna-zh-tw=y
CONFIG_PACKAGE_luci-i18n-mjpg-streamer-ja=y
CONFIG_PACKAGE_luci-i18n-mjpg-streamer-pt-br=y
CONFIG_PACKAGE_luci-i18n-mjpg-streamer-ru=y
CONFIG_PACKAGE_luci-i18n-mjpg-streamer-zh-cn=y
CONFIG_PACKAGE_luci-i18n-music-remote-center-zh-cn=y
CONFIG_PACKAGE_luci-i18n-netdata-zh-cn=y
CONFIG_PACKAGE_luci-i18n-nfs-zh-cn=y
CONFIG_PACKAGE_luci-i18n-nlbwmon-ja=y
CONFIG_PACKAGE_luci-i18n-nlbwmon-ru=y
CONFIG_PACKAGE_luci-i18n-noddos-ja=y
CONFIG_PACKAGE_luci-i18n-noddos-ru=y
CONFIG_PACKAGE_luci-i18n-nps-zh-cn=y
CONFIG_PACKAGE_luci-i18n-oaf-zh-cn=y
CONFIG_PACKAGE_luci-i18n-pagekitec-ja=y
CONFIG_PACKAGE_luci-i18n-qbittorrent-zh-cn=y
CONFIG_PACKAGE_luci-i18n-samba-ca=y
CONFIG_PACKAGE_luci-i18n-samba-cs=y
CONFIG_PACKAGE_luci-i18n-samba-de=y
CONFIG_PACKAGE_luci-i18n-samba-el=y
CONFIG_PACKAGE_luci-i18n-samba-es=y
CONFIG_PACKAGE_luci-i18n-samba-fr=y
CONFIG_PACKAGE_luci-i18n-samba-he=y
CONFIG_PACKAGE_luci-i18n-samba-hu=y
CONFIG_PACKAGE_luci-i18n-samba-it=y
CONFIG_PACKAGE_luci-i18n-samba-ja=y
CONFIG_PACKAGE_luci-i18n-samba-ms=y
CONFIG_PACKAGE_luci-i18n-samba-no=y
CONFIG_PACKAGE_luci-i18n-samba-pl=y
CONFIG_PACKAGE_luci-i18n-samba-pt=y
CONFIG_PACKAGE_luci-i18n-samba-pt-br=y
CONFIG_PACKAGE_luci-i18n-samba-ro=y
CONFIG_PACKAGE_luci-i18n-samba-ru=y
CONFIG_PACKAGE_luci-i18n-samba-sk=y
CONFIG_PACKAGE_luci-i18n-samba-sv=y
CONFIG_PACKAGE_luci-i18n-samba-tr=y
CONFIG_PACKAGE_luci-i18n-samba-uk=y
CONFIG_PACKAGE_luci-i18n-samba-vi=y
CONFIG_PACKAGE_luci-i18n-samba-zh-tw=y
CONFIG_PACKAGE_luci-i18n-statistics-ca=y
CONFIG_PACKAGE_luci-i18n-statistics-cs=y
CONFIG_PACKAGE_luci-i18n-statistics-de=y
CONFIG_PACKAGE_luci-i18n-statistics-el=y
CONFIG_PACKAGE_luci-i18n-statistics-es=y
CONFIG_PACKAGE_luci-i18n-statistics-fr=y
CONFIG_PACKAGE_luci-i18n-statistics-he=y
CONFIG_PACKAGE_luci-i18n-statistics-hu=y
CONFIG_PACKAGE_luci-i18n-statistics-it=y
CONFIG_PACKAGE_luci-i18n-statistics-ja=y
CONFIG_PACKAGE_luci-i18n-statistics-ms=y
CONFIG_PACKAGE_luci-i18n-statistics-no=y
CONFIG_PACKAGE_luci-i18n-statistics-pl=y
CONFIG_PACKAGE_luci-i18n-statistics-pt=y
CONFIG_PACKAGE_luci-i18n-statistics-pt-br=y
CONFIG_PACKAGE_luci-i18n-statistics-ro=y
CONFIG_PACKAGE_luci-i18n-statistics-ru=y
CONFIG_PACKAGE_luci-i18n-statistics-sk=y
CONFIG_PACKAGE_luci-i18n-statistics-sv=y
CONFIG_PACKAGE_luci-i18n-statistics-tr=y
CONFIG_PACKAGE_luci-i18n-statistics-uk=y
CONFIG_PACKAGE_luci-i18n-statistics-vi=y
CONFIG_PACKAGE_luci-i18n-statistics-zh-cn=y
CONFIG_PACKAGE_luci-i18n-statistics-zh-tw=y
CONFIG_PACKAGE_luci-i18n-timecontrol-zh-cn=y
CONFIG_PACKAGE_luci-i18n-transmission-ca=y
CONFIG_PACKAGE_luci-i18n-transmission-cs=y
CONFIG_PACKAGE_luci-i18n-transmission-de=y
CONFIG_PACKAGE_luci-i18n-transmission-el=y
CONFIG_PACKAGE_luci-i18n-transmission-es=y
CONFIG_PACKAGE_luci-i18n-transmission-fr=y
CONFIG_PACKAGE_luci-i18n-transmission-he=y
CONFIG_PACKAGE_luci-i18n-transmission-hu=y
CONFIG_PACKAGE_luci-i18n-transmission-it=y
CONFIG_PACKAGE_luci-i18n-transmission-ja=y
CONFIG_PACKAGE_luci-i18n-transmission-ms=y
CONFIG_PACKAGE_luci-i18n-transmission-no=y
CONFIG_PACKAGE_luci-i18n-transmission-pl=y
CONFIG_PACKAGE_luci-i18n-transmission-pt=y
CONFIG_PACKAGE_luci-i18n-transmission-pt-br=y
CONFIG_PACKAGE_luci-i18n-transmission-ro=y
CONFIG_PACKAGE_luci-i18n-transmission-ru=y
CONFIG_PACKAGE_luci-i18n-transmission-sk=y
CONFIG_PACKAGE_luci-i18n-transmission-sv=y
CONFIG_PACKAGE_luci-i18n-transmission-tr=y
CONFIG_PACKAGE_luci-i18n-transmission-uk=y
CONFIG_PACKAGE_luci-i18n-transmission-vi=y
CONFIG_PACKAGE_luci-i18n-transmission-zh-cn=y
CONFIG_PACKAGE_luci-i18n-transmission-zh-tw=y
CONFIG_PACKAGE_luci-i18n-travelmate-ja=y
CONFIG_PACKAGE_luci-i18n-travelmate-pt-br=y
CONFIG_PACKAGE_luci-i18n-travelmate-ru=y
CONFIG_PACKAGE_luci-i18n-ttyd-zh-cn=y
CONFIG_PACKAGE_luci-i18n-uhttpd-ja=y
CONFIG_PACKAGE_luci-i18n-uhttpd-pt-br=y
CONFIG_PACKAGE_luci-i18n-uhttpd-ru=y
CONFIG_PACKAGE_luci-i18n-uhttpd-zh-cn=y
CONFIG_PACKAGE_luci-i18n-upnp-ca=y
CONFIG_PACKAGE_luci-i18n-upnp-cs=y
CONFIG_PACKAGE_luci-i18n-upnp-de=y
CONFIG_PACKAGE_luci-i18n-upnp-el=y
CONFIG_PACKAGE_luci-i18n-upnp-es=y
CONFIG_PACKAGE_luci-i18n-upnp-fr=y
CONFIG_PACKAGE_luci-i18n-upnp-he=y
CONFIG_PACKAGE_luci-i18n-upnp-hu=y
CONFIG_PACKAGE_luci-i18n-upnp-it=y
CONFIG_PACKAGE_luci-i18n-upnp-ja=y
CONFIG_PACKAGE_luci-i18n-upnp-ms=y
CONFIG_PACKAGE_luci-i18n-upnp-no=y
CONFIG_PACKAGE_luci-i18n-upnp-pl=y
CONFIG_PACKAGE_luci-i18n-upnp-pt=y
CONFIG_PACKAGE_luci-i18n-upnp-pt-br=y
CONFIG_PACKAGE_luci-i18n-upnp-ro=y
CONFIG_PACKAGE_luci-i18n-upnp-ru=y
CONFIG_PACKAGE_luci-i18n-upnp-sk=y
CONFIG_PACKAGE_luci-i18n-upnp-sv=y
CONFIG_PACKAGE_luci-i18n-upnp-tr=y
CONFIG_PACKAGE_luci-i18n-upnp-uk=y
CONFIG_PACKAGE_luci-i18n-upnp-vi=y
CONFIG_PACKAGE_luci-i18n-upnp-zh-tw=y
CONFIG_PACKAGE_luci-i18n-usb-printer-zh-cn=y
CONFIG_PACKAGE_luci-i18n-vnstat-ca=y
CONFIG_PACKAGE_luci-i18n-vnstat-cs=y
CONFIG_PACKAGE_luci-i18n-vnstat-de=y
CONFIG_PACKAGE_luci-i18n-vnstat-el=y
CONFIG_PACKAGE_luci-i18n-vnstat-es=y
CONFIG_PACKAGE_luci-i18n-vnstat-fr=y
CONFIG_PACKAGE_luci-i18n-vnstat-he=y
CONFIG_PACKAGE_luci-i18n-vnstat-hu=y
CONFIG_PACKAGE_luci-i18n-vnstat-it=y
CONFIG_PACKAGE_luci-i18n-vnstat-ja=y
CONFIG_PACKAGE_luci-i18n-vnstat-ms=y
CONFIG_PACKAGE_luci-i18n-vnstat-no=y
CONFIG_PACKAGE_luci-i18n-vnstat-pl=y
CONFIG_PACKAGE_luci-i18n-vnstat-pt=y
CONFIG_PACKAGE_luci-i18n-vnstat-pt-br=y
CONFIG_PACKAGE_luci-i18n-vnstat-ro=y
CONFIG_PACKAGE_luci-i18n-vnstat-ru=y
CONFIG_PACKAGE_luci-i18n-vnstat-sk=y
CONFIG_PACKAGE_luci-i18n-vnstat-sv=y
CONFIG_PACKAGE_luci-i18n-vnstat-tr=y
CONFIG_PACKAGE_luci-i18n-vnstat-uk=y
CONFIG_PACKAGE_luci-i18n-vnstat-vi=y
CONFIG_PACKAGE_luci-i18n-vnstat-zh-cn=y
CONFIG_PACKAGE_luci-i18n-vnstat-zh-tw=y
CONFIG_PACKAGE_luci-i18n-watchcat-ca=y
CONFIG_PACKAGE_luci-i18n-watchcat-cs=y
CONFIG_PACKAGE_luci-i18n-watchcat-de=y
CONFIG_PACKAGE_luci-i18n-watchcat-el=y
CONFIG_PACKAGE_luci-i18n-watchcat-es=y
CONFIG_PACKAGE_luci-i18n-watchcat-fr=y
CONFIG_PACKAGE_luci-i18n-watchcat-he=y
CONFIG_PACKAGE_luci-i18n-watchcat-hu=y
CONFIG_PACKAGE_luci-i18n-watchcat-it=y
CONFIG_PACKAGE_luci-i18n-watchcat-ja=y
CONFIG_PACKAGE_luci-i18n-watchcat-ms=y
CONFIG_PACKAGE_luci-i18n-watchcat-no=y
CONFIG_PACKAGE_luci-i18n-watchcat-pl=y
CONFIG_PACKAGE_luci-i18n-watchcat-pt=y
CONFIG_PACKAGE_luci-i18n-watchcat-pt-br=y
CONFIG_PACKAGE_luci-i18n-watchcat-ro=y
CONFIG_PACKAGE_luci-i18n-watchcat-ru=y
CONFIG_PACKAGE_luci-i18n-watchcat-sk=y
CONFIG_PACKAGE_luci-i18n-watchcat-sv=y
CONFIG_PACKAGE_luci-i18n-watchcat-tr=y
CONFIG_PACKAGE_luci-i18n-watchcat-uk=y
CONFIG_PACKAGE_luci-i18n-watchcat-vi=y
CONFIG_PACKAGE_luci-i18n-watchcat-zh-cn=y
CONFIG_PACKAGE_luci-i18n-watchcat-zh-tw=y
CONFIG_PACKAGE_luci-i18n-wol-ca=y
CONFIG_PACKAGE_luci-i18n-wol-cs=y
CONFIG_PACKAGE_luci-i18n-wol-de=y
CONFIG_PACKAGE_luci-i18n-wol-el=y
CONFIG_PACKAGE_luci-i18n-wol-es=y
CONFIG_PACKAGE_luci-i18n-wol-fr=y
CONFIG_PACKAGE_luci-i18n-wol-he=y
CONFIG_PACKAGE_luci-i18n-wol-hu=y
CONFIG_PACKAGE_luci-i18n-wol-it=y
CONFIG_PACKAGE_luci-i18n-wol-ja=y
CONFIG_PACKAGE_luci-i18n-wol-ms=y
CONFIG_PACKAGE_luci-i18n-wol-no=y
CONFIG_PACKAGE_luci-i18n-wol-pl=y
CONFIG_PACKAGE_luci-i18n-wol-pt=y
CONFIG_PACKAGE_luci-i18n-wol-pt-br=y
CONFIG_PACKAGE_luci-i18n-wol-ro=y
CONFIG_PACKAGE_luci-i18n-wol-ru=y
CONFIG_PACKAGE_luci-i18n-wol-sk=y
CONFIG_PACKAGE_luci-i18n-wol-sv=y
CONFIG_PACKAGE_luci-i18n-wol-tr=y
CONFIG_PACKAGE_luci-i18n-wol-uk=y
CONFIG_PACKAGE_luci-i18n-wol-vi=y
CONFIG_PACKAGE_luci-i18n-wol-zh-tw=y
CONFIG_PACKAGE_luci-lib-docker=y
CONFIG_PACKAGE_luci-lib-dracula=y
CONFIG_PACKAGE_luci-lib-httpclient=y
CONFIG_PACKAGE_luci-lib-httpprotoutils=y
CONFIG_PACKAGE_luci-lib-jquery-1-4=y
CONFIG_PACKAGE_luci-lib-json=y
CONFIG_PACKAGE_luci-theme-argon=y
CONFIG_PACKAGE_luci-theme-material=y
CONFIG_PACKAGE_luci-theme-netgear=y
CONFIG_PACKAGE_luci-udptools=y
CONFIG_PACKAGE_lxc=y
CONFIG_PACKAGE_lxc-attach=y
CONFIG_PACKAGE_lxc-common=y
CONFIG_PACKAGE_lxc-configs=y
CONFIG_PACKAGE_lxc-console=y
CONFIG_PACKAGE_lxc-create=y
CONFIG_PACKAGE_lxc-hooks=y
CONFIG_PACKAGE_lxc-templates=y
CONFIG_PACKAGE_minidlna=y
CONFIG_PACKAGE_mjpg-streamer=y
CONFIG_PACKAGE_mount-utils=y
CONFIG_PACKAGE_mxml=y
CONFIG_PACKAGE_netdata=y
CONFIG_PACKAGE_nfs-kernel-server=y
CONFIG_PACKAGE_nfs-kernel-server-utils=y
CONFIG_PACKAGE_nfs-utils=y
CONFIG_PACKAGE_nfs-utils-libs=y
CONFIG_PACKAGE_noddos=y
CONFIG_PACKAGE_npc=y
CONFIG_PACKAGE_p910nd=y
CONFIG_PACKAGE_pagekitec=y
CONFIG_PACKAGE_parted=y
CONFIG_PACKAGE_python3=y
CONFIG_PACKAGE_python3-asyncio=y
CONFIG_PACKAGE_python3-base=y
CONFIG_PACKAGE_python3-cgi=y
CONFIG_PACKAGE_python3-cgitb=y
CONFIG_PACKAGE_python3-codecs=y
CONFIG_PACKAGE_python3-ctypes=y
CONFIG_PACKAGE_python3-dbm=y
CONFIG_PACKAGE_python3-decimal=y
CONFIG_PACKAGE_python3-distutils=y
CONFIG_PACKAGE_python3-email=y
CONFIG_PACKAGE_python3-gdbm=y
CONFIG_PACKAGE_python3-light=y
CONFIG_PACKAGE_python3-logging=y
CONFIG_PACKAGE_python3-lzma=y
CONFIG_PACKAGE_python3-multiprocessing=y
CONFIG_PACKAGE_python3-ncurses=y
CONFIG_PACKAGE_python3-openssl=y
CONFIG_PACKAGE_python3-pydoc=y
CONFIG_PACKAGE_python3-sqlite3=y
CONFIG_PACKAGE_python3-unittest=y
CONFIG_PACKAGE_python3-urllib=y
CONFIG_PACKAGE_python3-xml=y
CONFIG_PACKAGE_qBittorrent=y
CONFIG_PACKAGE_qrencode=y
CONFIG_PACKAGE_qt5-core=y
CONFIG_PACKAGE_qt5-network=y
CONFIG_PACKAGE_qt5-sql=y
CONFIG_PACKAGE_qt5-xml=y
CONFIG_PACKAGE_rblibtorrent=y
CONFIG_PACKAGE_rpcbind=y
CONFIG_PACKAGE_rpcd-mod-lxc=y
CONFIG_PACKAGE_rpcd-mod-rpcsys=y
CONFIG_PACKAGE_rrdtool1=y
CONFIG_PACKAGE_ruby=y
CONFIG_PACKAGE_ruby-bigdecimal=y
CONFIG_PACKAGE_ruby-date=y
CONFIG_PACKAGE_ruby-dbm=y
CONFIG_PACKAGE_ruby-digest=y
CONFIG_PACKAGE_ruby-enc=y
CONFIG_PACKAGE_ruby-pstore=y
CONFIG_PACKAGE_ruby-psych=y
CONFIG_PACKAGE_ruby-stringio=y
CONFIG_PACKAGE_ruby-strscan=y
CONFIG_PACKAGE_ruby-yaml=y
CONFIG_PACKAGE_runc=y
CONFIG_PACKAGE_shadowsocks-rust-sslocal=y
CONFIG_PACKAGE_shairport-sync-openssl=y
CONFIG_PACKAGE_smartmontools=y
CONFIG_PACKAGE_sqlite3-cli=y
CONFIG_PACKAGE_tini=y
CONFIG_PACKAGE_transmission-daemon-openssl=y
CONFIG_PACKAGE_transmission-web-control=y
CONFIG_PACKAGE_travelmate=y
CONFIG_PACKAGE_ttyd=y
CONFIG_PACKAGE_uclibcxx=y
CONFIG_PACKAGE_unzip=y
CONFIG_PACKAGE_vnstat=y
CONFIG_PACKAGE_vnstati=y
# CONFIG_PACKAGE_vsftpd-alt is not set
CONFIG_PACKAGE_watchcat=y
CONFIG_PACKAGE_xray-geodata=y
CONFIG_PACKAGE_xray-plugin=y
CONFIG_RPCBIND_LIBWRAP=y
CONFIG_RPCBIND_RMTCALLS=y
CONFIG_RUNC_SECCOMP=y
CONFIG_SQLITE3_DYNAMIC_EXTENSIONS=y
CONFIG_SQLITE3_FTS3=y
CONFIG_SQLITE3_FTS4=y
CONFIG_SQLITE3_FTS5=y
CONFIG_SQLITE3_JSON1=y
CONFIG_SQLITE3_LIBEDIT=y
CONFIG_SQLITE3_RTREE=y
CONFIG_TARGET_IMAGES_GZIP=y
CONFIG_TARGET_KERNEL_PARTSIZE=64
CONFIG_TARGET_ROOTFS_PARTSIZE=960
CONFIG_TARGET_ROOTFS_TARGZ=y
CONFIG_ZSTD_OPTIMIZE_O3=y
CONFIG_boost-compile-visibility-hidden=y
CONFIG_boost-runtime-shared=y
CONFIG_boost-static-and-shared-libs=y
CONFIG_boost-variant-release=y
